* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --default-text: #284659;
    --highlight: #c9f0ff;
    --header-dark: #000330;
    --link-overlay: blue;
    --edge-margin: 80px;
    --min-size: 285px; /* Minimum size before images start tiling */
}

body {
    position: relative;
}

/* Styles for the page header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    line-height: 60px;
    background-color: var(--header-dark);
    color: var(--highlight);
}

header h1 {
    display: inline;
    background-color: var(--highlight);
    color: var(--header-dark);
    padding-left: var(--edge-margin);
    padding-right: 10px;
}

/* Styles for the navigation bar */
#page-navigation {
    display: inline;
    text-align: right;
    margin-right: var(--edge-margin);
}

#page-navigation ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

#page-navigation li {
    display: inline;
    text-decoration: none;
}

#page-navigation a {
    color: var(--highlight);
}

/* Styles for the hero image and subtitle */
.hero {
    min-height: 240px;
}

.hero-container {
    min-height: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-subtitle {
    background-color: var(--highlight);
    color: var(--header-dark);
    font-size: 36px;
    padding: 2px 5px;
    margin-right: var(--edge-margin);
    margin-bottom: 20px;
}

/* Styles for the main section and layout */
main {
    color: var(--default-text);
}

.page-content article {
    display: flex;
    margin: 50px var(--edge-margin);
}

.page-content h2 {
    min-width: 150px;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--default-text);
    margin-right: 20px;
}

.content-container {
    width: 100%;
}

/* Styles for the about-me section and image */
#about-container {
    display: flex;
}

#my-photo {
    width: 100px;
    height: 100px;
    border: 3px solid var(--highlight);
    margin-left: 10px;
}

/* Styles for the portfolio cards */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: -10px -10px;
}

.portfolio-card {
    display: flex;
    width: 46%;
    min-width: var(--min-size);
    height: 100px;
    border: 3px solid var(--highlight);
    margin: 10px;
    align-items: flex-end;
}

.top-result {
    width: 100%;
    height: 240px;
}

.portfolio-title {
    position: relative;
    background-color: var(--highlight);
    color: var(--default-text);
    text-decoration: none;
    padding: 2px 5px;
    margin-bottom: 10px;
}

/* Styles for card highlights.
   Adds a tint to a card when the mouse hovers over it.
   Currently only works for cards that have a hyperlink. */
.card-overlay {
    position: relative;
    width: 46%;
    min-width: var(--min-size);
    height: 106px;
    background-color: var(--link-overlay);
    opacity: 0%;
    margin: 10px;
    margin-top: -116px;
    margin-left: -46%;
}

.card-overlay:hover {
    opacity: 10%;
}

.card-overlay.top-result {
    width: 100%;
    height: 246px;
    margin-top: -256px;
    margin-left: 10px;
}

.card-overlay-inset {
    width: 100%;
    height: 100%;
}

/* Styles for the contact links */
#contact-links {
    display: flex;
    justify-content: space-between;
}

#contact-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-links li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 0px;
}

#contact-links a {
    color: var(--default-text);
}

footer {
    color: var(--default-text);
    text-align: center;
}

/* Background images */
#hero-image {
    background-image: url("./number-matrix.jpg");
    background-size: 100%;
}

#horiseon-card {
    background-image: url("./horiseon-preview.jpg");
    background-size: 100%;
}

#css-snippet-card {
    background-image: url("./snippet-preview.png");
    background-size: 100%;
}

#sample-landing-card {
    background-image: url("./sample-preview.png");
    background-size: 100%;
}

@media screen and (max-width: 992px) {
    .portfolio-card {
        width: 100%;
    }

    .card-overlay {
        width: 100%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-title {
        width: 100%;
        margin-bottom: 0px;
    }
}